pipeline/if else example.json
{
	"name": "if else example",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "LookupDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.firstRow.Prop_0,'texas')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Get Metadata1_copy1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "filename"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "Meta_BinaryDS",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@pipeline().parameters.metadatafilename_false",
											"type": "Expression"
										}
									}
								},
								"fieldList": [],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Meta_BinaryDS",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@pipeline().parameters.metadatafilename_true",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"itemType",
									"lastModified",
									"size",
									"contentMD5"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"metadatafilename_true": {
				"type": "string",
				"defaultValue": "DimensionIndex.csv"
			},
			"metadatafilename_false": {
				"type": "string",
				"defaultValue": "MeasureIndex.csv"
			}
		},
		"annotations": []
	}
}